/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

/* Css variables */
:root {
  --clr-100: hsl(0, 0%, 100%);
  --clr-500: hsla(0, 0%, 100%, 0.30);
  --clr-600: hsla(0, 0%, 100%, 0.75);
  --clr-700: hsl(0, 0%, 14%);
  --clr-800: rgba(35, 35, 35, 0.1);
  --clr-900: rgba(0, 0, 100%, 0.01);

  --clr-accent-300: #4158D0;
  --clr-accent-200: #C850C0;
  --clr-accent-400: #FFCC70;

  --bg-linear: linear-gradient(43deg, var(--clr-accent-300) 0%, var(--clr-accent-200) 46%, var(--clr-accent-400) 100%);

  --spacing-400: 16px;
  --spacing-500: 20px;

  --fs-400: 24px;
  --fs-500: 35px;
}

/* Base */

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-accent-300);
  background-image: var(--bg-linear);
  font-family: 'Dosis', sans-serif;
  font-display: swap;
}

button {
  font: inherit;
  cursor: pointer;
}

/* Components */

.calculator {
  width: min(90%, 400px);
  min-height: 540px;
  margin-inline: auto;
  padding: var(--spacing-500);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: var(--clr-500);
  border: 1px solid var(--clr-500);
  border-radius: var(--spacing-400);
  box-shadow: 0 4px 30px var(--clr-800);
  color: var(--clr-700);
}

.calculator__screen {
  max-width: 320px;
  padding: var(--spacing-500);
  margin-inline: auto;
  box-shadow: 0 4px 30px var(--clr-800);
  border: 1px solid var(--clr-900);
  border-radius: var(--spacing-400);
  background-color: var(--clr-600);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-size: var(--fs-500);
  font-weight: 700;
  text-align: right;
  overflow: auto;
}

.calculator__operands-row {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.calculator__operands-btn {
  padding: var(--spacing-400);
  border: 1px solid var(--clr-900);
  border-radius: var(--spacing-400);
  background-color: var(--clr-600);
  box-shadow: 0 4px 30px var(--clr-800);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  font-size: var(--fs-400);
  font-weight: 700;
  flex-basis: 20%;
  transition: .2s ease;
}

.calculator__operands-btn:hover {
  background-color: inherit;
}

.calculator__operands-btn:active {
  background-color: var(--clr-accent-400);
}

.calculator__operands-btn:last-child {
  background-color: var(--clr-accent-300);
  color: var(--clr-100);
}

.calculator__operands-btn:last-child:hover {
  background-color: inherit;
  color: inherit;
}

.calculator__operands-btn:last-child:active {
  background-color: var(--clr-accent-400);
}

.double {
  flex-basis: 47%;
}

.triple {
  flex-basis: 73%;
}